absl-py==0.2.2
alabaster==0.7.11
allennlp==0.7.1
apex==0.1
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.6.2
atomicwrites==1.1.5
attrs==18.1.0
aws-xray-sdk==0.95
awscli==1.15.77
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.6.0
biopython==1.72
bleach==1.5.0
boto==2.49.0
boto3==1.9.43
botocore==1.12.43
bz2file==0.98
certifi==2018.4.16
cffi==1.11.2
chainer==7.4.0
chardet==3.0.4
click==6.7
cloudpickle==0.5.3
colorama==0.3.9
conllu==0.11
cookies==2.2.1
cryptography==2.4.1
csbdeep==0.6.2
cupy==7.5.0
cupy-cuda90==7.5.0
cycler==0.10.0
cymem==1.31.2
Cython==0.28.4
cytoolz==0.9.0.1
dask==0.18.2
decorator==4.3.0
deepmedic==0.7.4
dicom==0.9.9.post1
dill==0.2.8.2
distributed==1.23.2
Django==2.1.1
docker==3.5.1
docker-pycreds==0.3.0
docutils==0.14
ecdsa==0.13
editdistance==0.4
entrypoints==0.2.3
fastrlock==0.5
filelock==3.0.12
flaky==3.4.0
Flask==0.12.4
Flask-Cors==3.0.3
ftfy==5.5.0
funcsigs==1.0.2
future==0.17.1
gast==0.2.0
gevent==1.3.6
Glymur==0.8.16
greenlet==0.4.14
grpcio==1.12.0
h5py==2.10.0
HeapDict==1.0.0
hmmlearn==0.2.1.post46+g9a32d31
html5lib==0.9999999
idna==2.7
image==1.5.25
imageio==2.8.0
imagesize==1.0.0
importlib==1.0.4
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.3.0
isodate==0.6.0
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.10
jmespath==0.9.3
joblib==0.13.2
jsondiff==1.1.1
jsonnet==0.10.0
jsonpickle==1.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.0.1
lightgbm==2.3.1
llvmlite==0.36.0
locket==0.2.0
logomaker==0.8
lxml==4.3.2
m2r==0.2.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==3.2.2
mistune==0.8.3
mock==2.0.0
more-itertools==4.3.0
moto==1.3.4
mpi4py==3.0.3
msgpack==0.5.6
msgpack-numpy==0.4.3.1
multiprocess==0.70.6.1
murmurhash==0.28.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
neurdflib==5.0.0.post1
nibabel==2.3.3
nilearn==0.5.0
nimfa==1.4.0
nipype==1.1.9
nltk==3.3
notebook==5.6.0
numba==0.53.1
numexpr==2.6.9
numpy==1.17.4
numpydoc==0.8.0
opencv-python==4.4.0.42
OpenMM==7.4.0
openmmlib==0.0.0
openslide-python==1.1.1
overrides==1.9
packaging==17.1
pandas==1.0.5
pandocfilters==1.4.2
parsimonious==0.8.0
parso==0.3.1
partd==0.3.8
pathos==0.2.2.1
patsy==0.5.1
pbr==5.1.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.1.0
plac==0.9.6
pluggy==0.7.1
pomegranate==0.14.0
pox==0.2.4
ppft==1.6.4.8
preshed==1.0.1
prometheus-client==0.3.0
prompt-toolkit==1.0.15
protobuf==3.6.1
prov==1.5.3
psutil==5.7.0
psycopg2==2.7.5
ptyprocess==0.6.0
py==1.5.4
pyaml==17.12.1
pyasn1==0.4.4
pycparser==2.18
pycryptodome==3.7.0
pycuda==2018.1.1
pydot==1.4.1
pydotplus==2.0.2
pyfaidx==0.5.9.2
Pygments==2.2.0
pyhocon==0.3.35
pynndescent==0.5.2
pyparsing==2.2.0
pyrosetta==2018.28+release.769b677
pysam==0.16.0.1
pytest==3.7.1
python-dateutil==2.7.3
python-jose==2.0.2
pytools==2019.1
pytz==2017.3
PyWavelets==1.1.1
PyYAML==3.12
pyzmq==17.1.0
qtconsole==4.3.1
rdflib==4.2.2
regex==2017.4.5
reportlab==3.5.44
requests==2.19.1
responses==0.9.0
rsa==3.4.2
s3transfer==0.1.13
sacremoses==0.0.38
scikit-cuda==0.5.2
scikit-image==0.17.2
scikit-learn==0.23.1
scikit-optimize==0.5.2
scikit-plot==0.3.7
scipy==1.5.4
seaborn==0.9.0
Send2Trash==1.5.0
sentencepiece==0.1.85
SigProfilerExtractor==1.0.12
SigProfilerMatrixGenerator==1.1.17
sigProfilerPlotting==1.1.6
simplegeneric==0.8.1
SimpleITK==1.2.0
simplejson==3.16.0
six==1.15.0
sklearn==0.0
snowballstemmer==1.2.1
sortedcontainers==2.0.5
spacy==2.0.12
spams==2.6.1
spams-mkl==2.6.1
Sphinx==1.7.6
sphinx-rtd-theme==0.4.3
sphinxcontrib-websupport==1.1.0
sqlparse==0.2.4
stardist==0.7.2
statsmodels==0.11.1
style==1.1.0
tables==3.4.4
tblib==1.3.2
tensorboard==1.9.0
tensorboardX==1.2
tensorflow-gpu==1.9.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
Theano==1.0.4
thinc==6.10.3
threadpoolctl==2.1.0
tifffile==2020.6.3
tokenizers==0.0.11
toolz==0.9.0
topaz==0.0.3
topaz-em==0.2.2
torch==1.4.0
torchtext==0.2.3
torchvision==0.5.0
tornado==5.1
tqdm==4.42.0
traitlets==4.3.2
traits==5.0.0
transformers==2.4.1
typing==3.6.4
typing-extensions==3.7.4.2
ujson==1.35
umap==0.1.1
umap-learn==0.5.1
Unidecode==1.0.22
update==0.0.1
urllib3==1.23
wcwidth==0.1.7
websocket-client==0.54.0
Werkzeug==0.14.1
widgetsnbextension==3.3.0
wrapt==1.10.11
xgboost==0.81
xlrd==1.2.0
xmltodict==0.11.0
zict==0.1.3
